[submodule "themes/hugo-theme-docdock"]
	path = themes/hugo-theme-docdock
	url = git@github.com:vjeantet/hugo-theme-docdock.git
[submodule "themes/hugo-tranquilpeak-theme"]
	path = themes/hugo-tranquilpeak-theme
	url = git@github.com:kakawait/hugo-tranquilpeak-theme.git
